/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.row {
  padding: 1em;
}

.assignment-summary {
  font-size: 1.5em;
}


