# vim: ts=4:sw=4:expandtabs

import os

__author__ = '{{ lookup('env', 'SETTINGS_AUTHOR') | default('zach.mott@gmail.com') }}'

BASE_DIR = os.path.dirname(os.path.dirname(__file__))

MANAGERS = ADMINS = [
{% for name, email in app_admins %}
    ({{ name }}, {{ email }}),
{% endfor %}
]

{% if app_nginx_server_names is defined %}
ALLOWED_HOSTS = [
{% for name in app_nginx_server_names %}
    '{{ name }}',
{% endfor %}
]
{% endif %}

DEBUG = {{ app_debug }}
TEMPLATE_DEBUG = {{ app_template_debug }}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ app_db_name }}',
        'HOST': '{{ app_db_host }}',
        'USER': '{{ app_name }}',
        'PASSWORD': '{{ app_db_password }}',
        'PORT': 3306,
    },
}

FILER_STORAGES = {
    'public': {
        'main': {
            'ENGINE': 'django_s3_storage.storage.S3Storage',
            'UPLOAD_TO': 'filer.utils.generate_filename.randomized',
            'UPLOAD_TO_PREFIX': 'filer_public',
        },
        'thumbnails': {
          'ENGINE': 'django_s3_storage.storage.S3Storage',
        }
    },
    'private': {
        'main': {
            'ENGINE': 'django_s3_storage.storage.S3Storage',
            'UPLOAD_TO': 'filer.utils.generate_filename.randomized',
            'UPLOAD_TO_PREFIX': 'filer_private',
        },
        'thumbnails': {
          'ENGINE': 'django_s3_storage.storage.S3Storage',
        }
    }
}

{% for item in group_extra_settings %}
{{ item.key }} = {{ item.value }}
{% endfor %}
